<%= @topic.title %>

<%= form_for(@topic) do |f| %>

  <div class="field">
    <%= f.hidden_field :parent_id %>
  </div>
  
  <br>
  
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  
  <br>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>