<% @topic.children.each do |child| %>
  <tr>
    <td><%= child.title %></td>
    <td><%= child.id %></td>
    <td></td>
    <td><%= child.parent_id %></td>
    <td><%= link_to 'Show', child %></td>
    <td><%= link_to "Edit topic", edit_topic_path(child) %></td>
    <td><%= link_to "Delete topic", child, method: :delete, data: {confirm: 'Are you sure?' } %></td></td>
  </tr>
<% end %>