<h1>Topic</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Level</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @topics.each do |topic| %>
  <tr>
    <td><%= topic.title %></td>
    <td><%= topic.parent_id %></td>
    <td><%= link_to 'Show', topic %></td>
    <td><%= link_to "Edit topic", edit_topic_path(topic) %></td>
    <td><%= link_to "Delete topic", topic, method: :delete, data: {confirm: 'Are you sure?' } %></td></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to "New topic", new_topic_path %>

