<%= form_for(@topic) do |f| %>

  <div class="field">
    <%= f.label :parent_id %><br />
    <%= f.collection_select :parent_id, Topic.order(:title), :id, :title, 
    include_blank: true%>
  </div>
  
  <br>
  
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  
  <br>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>