
<div class="d-flex m-3">
  <div class="p-2 mr-auto"><h2><%= @topic.title %></h2></div>
  <div class="p-3">
    <% if @topic.root? %>
      <%= link_to "Back", root_path, class: "btn btn-outline-primary square" %>
    <% else %>
      <%= link_to "Back", topic_path(@topic.parent_id), class: "btn btn-outline-primary square" %>
  <% end %>
  </div>
</div>

  <%= folder_status(@topic.children)%>

<br>

<h1>Doc</h1>

  <div class="row">
    
    <%= render 'documents', documents: @topic.documents %>
   
  </div>  
