<%= @topic.title %><br><br>

  <% if @topic.root? %>
    <%= link_to "Back", root_path %>
  <% else %>
    <%= link_to "Back", topic_path(@topic.parent_id) %>
  <% end %>

<table>
  <tr>
    <th>Name</th>
    <th>ID</th>
    <th></th>
    <th>Level</th>
    <th></th>
    <th></th>
  </tr>

<%= render 'topic_child' %>

</table>

<br>

<%= link_to "New topic", new_topic_path(parent_id: @topic) %>

<h1>Doc</h1>

<% @topic.documents.each do |doc| %>
  <p><%= doc.name %></p>
<% end %>
