<%= form_for([:admin, @admin_topic]) do |f| %>
  <% if admin_topic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(admin_topic.errors.count, "error") %> prohibited this admin_topic from being saved:</h2>
      <ul>
      <% admin_topic.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.submit class: 'btn btn-default' %>
  </div>
  
<% end %>
