<h3><%= @admin_topic.title %></h3>

<br>


  <div class="row">
      <%= render 'folders', topics: @admin_topic.children %>
  </div>
<br>

<%= link_to 'New Folder', new_admin_topic_path(parent_id: @admin_topic) %> |

<% if @admin_topic.root? %>
  <%= link_to "Back", admin_path %>
<% else %>
  <%= link_to "Back", admin_topic_path(@admin_topic.parent_id) %>
<% end %>

<% @admin_topic.documents.each do |doc| %>
  <p><%= doc.name %></p>
  <p><td><%= link_to "Delete Doc", doc, method: :delete, id: "delete_document_#{doc.id}_from_index", data: {confirm: 'Are you sure?' } %></p>
<% end %>

