<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
  <h2><%= @admin_topic.title %></h2>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2">
      <%= button_to 'New Folder', new_admin_topic_path, class: "btn btn-sm btn-outline-secondary", method: :get, params: {parent_id: @admin_topic } %>
      <%= button_to 'New Document', new_admin_document_path, class: "btn btn-sm btn-outline-secondary", method: :get, params: {parent_id: @admin_topic } %>
    </div>
  </div>
</div>


<br>

  <div class="row">
      <%= render 'folders', topics: @admin_topic.children %>
  </div>
  
<br>

<%= link_to 'New Folder', new_admin_topic_path(parent_id: @admin_topic) %> |
<%= link_to 'New Document', new_admin_document_path(parent_id: @admin_topic) %> |

<% if @admin_topic.root? %>
  <%= link_to "Back", admin_path %>
<% else %>
  <%= link_to "Back", admin_topic_path(@admin_topic.parent_id) %>
<% end %>


<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Pdf Link</th>
      <th>&nbsp;</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @admin_topic.documents.each do |doc| %>
      <tr>
        <td><%= doc.name %></td>
        <td><%= link_to "Download Doc", doc.attachment_url %></td>
        <td><%= doc.inspect %></td>
        <td><%= button_to "Delete", [:admin, doc], method: :delete, class: "btn btn-danger", data: { confirm: "Are you sure that you wish to delete #{doc.name}?" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

