<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
  <% if admin_signed_in? %>
    <%= link_to 'Admin Dashboard', admin_path, class: "navbar-brand col-sm-3 col-md-2 mr-0" %>
  <% else %>
    <%= link_to 'Home', root_path, class: "navbar-brand col-sm-3 col-md-2 mr-0" %>
  <% end %>
  
    <%= form_tag("/search", local: true, method: :get, class: 'form-inline w-100') do %>
      <%= text_field_tag(:q, nil, data: { behavior: "autocomplete" }, placeholder: 'Search', class: "form-control form-control-dark w-100") %>
    <% end %>
      
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <% if admin_signed_in? %>
          <%= link_to 'Sign out', destroy_admin_session_path, method: :delete, class: "nav-link" %>
        <% else %>
          <%= link_to 'Sign in', new_admin_session_path, class: "nav-link" %>
      <% end %>
    </li>
  </ul>
</nav>

