<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Pdf Link</th>
      <th>Folder</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% @admin_documents.each do |doc| %>
      <tr>
        <td><%= doc.name %></td>
        <td><%= link_to "Download Doc", doc.attachment_url %></td>
        <td><%= doc.topic.title %></td>
        <td><h5>
            <%= link_to fa_icon('pencil-square-o'), edit_admin_document_path(doc) %>
            <%= link_to fa_icon('trash'), [:admin, doc], method: :delete, id: "delete_document_#{doc.id}_from_index", data: { confirm: 'Are you sure?' } %>
        </h5></td>
      </tr>
    <% end %>
  </tbody>
</table>