<%= form_for([:admin, @admin_document]) do |f| %>

  <div class="field">
    <%= f.hidden_field :topic_id %>
  </div>

  <div class="form-group">
    <%= f.label :name %><br />
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  
  <div class="form-group">
    <%= f.label :attachment %><br />
    <%= f.file_field :attachment, class: 'form-control' %>
  </div>
  
  <div class="form-group">
    <%= f.label "Folder" %><br />
    <%= f.collection_select(:topic_id, Topic.arrange_as_array, :id, :name_for_selects, 
                            {
                              include_blank: :true
                            },
                            class: 'form-control'
                            )
    %>
  </div>
  
  <div class="form-group">
    <%= f.submit "Upload", class: 'btn btn-default'%>
  </div>
<% end %>

